# backend
sqlalchemy==2.0.39
requests==2.32.3

# frontend
PyQt5==5.15.11

# auxiliary
faker==37.0.0

openai==1.72.0

dotenv~=0.9.9

openpyxl == 3.1.5

python-dotenv~=1.1.0

pandas~=2.2.3

pytest~=8.3.5
pytest-qt~=4.4.0